@import '../../../global/base';

.theme {
  h5 {
    font-size: @fontSize14;
  }
  .colors {
    li {
      width: 40px;
      height: 40px;
      float: left;
      list-style: none;
      cursor: pointer;
      text-align: center;
      line-height: 40px;
      color: white;
    }
  }
}
